*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
}

.cursor{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transition: scale ease 0.1s;
}

h1{
    font-size: 150px;
    color: white;
    position: absolute;
    mix-blend-mode: difference;
}