*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

.box{
    height: 300px;
    width: 300px;

    background-color: aqua;
    background-color: cyan;
    
    background-color: crimson;
    background-color: darkcyan;
    background-color: lightseagreen;
    background-color: lightblue;
    background-color: darkgoldenrod;
    background-color: darkslategray;
    background-color: darkolivegreen;

    
    background-color: #111;   /*bg color of main body*/
    background-color: #222;   /*bg color of main body*/

    background-color: rosybrown;
    background-color: brown;
    background-color: royalblue;
}