*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Now Display;
}

html,body{
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.255); */
}

.main{
    min-height: 100%;
}

.nav{
    padding: 50px 60px;    /*ooper-neeche left right*/
    display: flex;
    justify-content: space-between;
    align-items: start;
}

/* Top Left Part */

.nav h4{
    font-size: 17px;
    font-weight: 500;
}

/* Top Right Part*/

.nav .topRight{
    display: flex;
    gap: 30px;
}

.nav .topRight a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 400;
}

/* Top Middle Part*/

.topMid .line{
    height: 1.5px;
    width: 18px;
    background-color: black;
}

.topMid{
    display: flex;
    gap: 25px;
}

.topMid .line{
    margin-top: 11px;
}