*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1678375675659-f570d3b0ce11?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 500px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 15px;
    border: 4px solid rgba(0, 0, 0, 0.8);
}

img{
    height: 210px;
    width: 210px;
    border-radius: 100%;
    border: 2px solid red;
    margin-left: 50%;
    transform: translate(-50%,0);
    margin-top: 35px;
    overflow: hidden;
    transition: all ease 0.4s;
}

h1{
    margin-top: 20px;
    /* margin-left: 50%;
    transform: translate(-50%,0%);  */
    color: #e21212b4;
    font-weight: 600;
    font-size: 35px;
    text-align: center;

}

button{
    background-color: #00800081;
    color: white;
    font-size: 20px;
    font-weight: 550;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-top: 80px;
    margin-left: 50%;
    transform: translate(-50%,0%);
    cursor: pointer;
    transition: all ease 0.5s;
}

button:active{
    background-color: #259098;
    scale: 0.99;
}
