*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Now Display;
}

html,body{
    height: 100;
    width: 100;
}

nav{
    padding: 50px 60px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.part1{
    width: 8%;
    /* background-color: red; */
}

.part2{
    width: 25%;
    /* background-color: green; */
    display: flex;
    gap: 20px;
}

.part2 i{
    font-size: 25px;
}

.part3{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
}

.part3 a{
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 700;
}