*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
}

.content img{
    height: 400px;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;  /*Agr parent div ko ht=100% nhi deoge to kaam nhi krega ..kyoki by default parent ki ht=content ht inside it..which is not so much so how it will align*/
    height: 100%;
    background-color: red;    /*Problem----->see folder 20,21,22*/
}

/* img:hover{
    height: 450px;
}
img{
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
} */