*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    background-color: white;
    font-size: 80px;
    padding: 15px 15px;
    border-radius: 5px;
}