*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}
.main{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    flex-wrap: wrap;
    background-color: lightblue;
    /* overflow: auto; */    /*pta nhi kya hota h isse..kuch ho hi nhi rhaa*/
}
.card{
    width: 350px;
    border-radius: 8px;
    padding: 8px;
    background-color: white;
    text-align: center;
}

.coverPhoto{
    height: 150px;
    width: 100%;
    border-radius: 8px;
    /* object-fit: cover; */
}

.profilePhoto{
    margin-top: -12px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;  /*   dene se img ka original ratio(length:width) set ho jata h..img oochi chodi nhi dikhti */
}

.lowerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 25px;
}

#username{
    margin-top: -2px;
    font-size: 20px;
    font-weight: 1000;
}

#fullname{
    font-size: 15px;
    color: gray;
}

p{
    font-size: 18px;
    padding: 30px 40px;
    color: rgba(0, 0, 0, 0.737);
}

.line{
    margin-top: 15px;
    height: 1px;
    width: 60px;
    width: 20%;
    background-color: rgba(128, 128, 128, 0.685);
    /* margin-left: 50%;
    transform: translate(-50%); */
    margin: 10px auto;      /*auto(left-right) usko horizontally center me krdega*/
}

.lowerContainer h3{
    font-weight: 1000;
    margin-top: 15px;
}

.lowerContainer h5{
    color: grey;
}