*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 15px 15px 25px black;
}

.card::-webkit-scrollbar{
    width: 10px;
    background-color: rgba(128, 128, 128, 0.721);
    border-radius: 20px;
}

.card::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.181);
    border-radius: 20px;
}

.card h1{
    padding: 10px 20px;
    border-bottom: 1px solid black;
}

.status img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.status{
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid black;
}

.status .data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data h4{
    color: rgba(0, 0, 0, 0.715);
}