*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

#car1{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    z-index: 5; /*will not work bcoz u hav not given position property*/
}
#car2{
    height: 100px;
    width: 100px;
    background-color: rgb(67, 233, 49);
    position: absolute;
    z-index: 2;
}

#car3{
    height: 100px;
    width: 100px;
    background-color: rgb(60, 77, 190);
    position: absolute;
}